*{
  padding: 0;
  margin: 0;

}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 20vh;
  background-color: black;

}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 80vw;
background-color: black;

}

