*{
  padding: 0;
  margin: 0;

}



input[type="text"]{
  border-radius: 10px;
 
  height: 40px;
}

input[type="text"]::placeholder {
  font-weight: bold;
  opacity: .5;
  color: black;
  font-size: 1rem;
  

}




.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}



.form-container{
 position: absolute;
  width: 30%;
  height: 60%;
 border: 2px solid grey;
}

header{ 
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 10%;
  font-size: 1.25rem;
  

}

.name{
  position: absolute;
  top:10%;
  left: 0;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}


.first-name,
.last-name{
  width: 45%;
 
}


.contact-info{
  position: absolute;
  top:25%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  width: 100%;
 
}

.bigger-inputs{
  width: 95%;

}


.password-container{
  position: absolute;
  top:55%;
  left: 0;
  
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}


.password,
.confirm-password{
  width: 45%;
 
}

.tc-wrapper{ 
  position: absolute;
  top:70%;
  left: 0;
  
  display: flex;
  
  justify-content:center;
  flex-wrap: nowrap;
  text-align: center;
  width: 100%;
  height: 15%;
  

}

.checkbox-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;

}

.agree-label{
 font-weight: bold;
 margin-left: 10px;
}

.terms-conditions-container{
  display: flex;
  
  align-items: center;
  height: 100%;
  width: 70%;
}

.register-example{
  background-color:blue;
  color:white;
  height: 25px;
  width: 60px;
  border-radius: 5px;
  

}


.btn-container{
  position: absolute;
  top: 85%;
  left: 0;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}

.register-btn,
.sign-in-btn{
  color: white;
  border-radius: 10px;
  font-size: 1.25rem;
}

.register-btn{
  width: 45%;
  height: 40px;
  background-color: blue;
  
}

.sign-in-btn{
  width: 45%;
  height: 40px;
  background-color: green;
}


@media (max-width: 1280px){
  .form-container{
    
    width: 50vw;
  }
}

@media (max-width: 700px){
  .form-container{
    height: 100vh;
    width: 100vw;
  }
}

